# Xcode
#

.build/
build/
xcuserdata
data/

Pods/

TestProjects/cocoapods/ios/PinLayout-iOS.xcworkspace/
TestProjects/cocoapods/macos/PinLayout-macOS.xcworkspace/
TestProjects/cocoapods/tvos/PinLayout-tvOS.xcworkspace/

TestProjects/carthage/ios/Cartfile.resolved
TestProjects/carthage/ios/Carthage/

TestProjects/swift-package-manager

Example/PinLayoutExampleMacOS
