language: objective-c
osx_image: xcode8
xcode_project: MCSwiftLayout.xcodeproj
xcode_scheme: MCSwiftLayout
xcode_sdk: iphonesimulator9.3
env:
  global: 
   # - FRAMEWORK_NAME=MCSwiftLayout
before_install:
  - ./install_dependencies.sh
before_script:
  # bootstrap the dependencies for the project
  # you can remove if you don't have dependencies
  #- carthage bootstrap  
before_deploy:
  #- carthage build --no-skip-current
  #- carthage archive $FRAMEWORK_NAME 

env:
  #- ACTION=test  PLATFORM=iOS     DESTINATION='platform=iOS Simulator,name=iPhone 6S'
  
script:
  #- set -o pipefail && xcodebuild -scheme MCSwiftLayout -destination "$DESTINATION" $ACTION | xcpretty
  - set -o pipefail && xcodebuild \
    -workspace MCSwiftLayout.xcworkspace \
    -scheme "MCSwiftLayout" \
    -sdk iphonesimulator \
    -destination 'platform=iOS Simulator,name=iPhone 6' \
    test \
  | xcpretty \
    -r "html" \
    -o "tests.html"